= semantic_form_for [:admin, @page], :html => {:class => "custom", :multipart => true} do |f|
  .row
    .small-12.columns= f.input :title
  .row
    .small-10.columns= f.input :subtitle
  .row
    .small-11.columns= f.input :body, :input_html => {:class => :ckeditor}
  .row
    .small-3.columns= f.input :published
  .row
    .small-6.columns= f.input :image
  .row
    .small-2.columns= f.submit 'Save', :class => [:button, :round]