= form_for [:admin, @page], :html => {:class => "custom", :multipart => true} do |f|
  .field
    %label.label Title:
    .control= f.text_field :title, class: :input
  .field
    %label.label Subtitle
    .control= f.text_field :subtitle, class: :input
  .field
    .control= f.text_area :body, class: [:ckeditor, :text_area]
  .field
    %label.label Published?
    .control= f.check_box :published
  .field
    - unless f.object.new_record?
      - unless f.object.blank?
        = image_tag f.object.image.url(:midsize) rescue ''
    = f.file_field :image
  .field
    .control= f.submit 'Save', :class => [:button, :round]