<p>
  <b>Name:</b>
  <%=h @link.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @link.description %>
</p>

<p>
  <b>Url:</b>
  <%=h @link.url %>
</p>


<%= link_to 'Edit', edit_admin_link_path(@link) %> |
<%= link_to 'Back', admin_links_path %>
