<h1>Listing jobs</h1>

<table>
  <tr>
    <th>When</th>
    <th>Employer</th>
    <th>Where</th>
    <th>Major</th>
  </tr>

<% for job in @jobs %>
  <tr>
    <td><%=h job.started %>
    <br />
    <%=h job.finished %></td>
    
    <td><%=h job.employer %></td>
    <td><%=h job.city %>,
   <%=h job.state %> 
  <%=h job.postcode %>
<%=h job.country %></td>

    <td><%=h job.major %></td>
    <td><%= link_to 'Show', admin_job_path(job), :class => [:button, :radius, :tiny] %>
<%= link_to 'Edit', edit_admin_job_path(job), :class => [:button, :radius, :tiny] %> <%= link_to 'Destroy', admin_job_path(job), :data => {:confirm => 'Are you sure?'}, :class => [:button, :radius, :tiny , :alert], :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New job', new_admin_job_path, :class => [:button, :radius, :tiny] %>
