.container.post
  .columns
    .column
      %h2.title= @page.title
      %h2.subtitle= @page.subtitle
  
  .columns
    .column.is-three-fifths
      .page_body= raw @page.body

    - if @page.image?
      .column.is-two-fifths
        - if @page.image_width && @page.image_width > 1200
          %figure.image= image_tag @page.image.url.gsub(/development/, 'production')
        - else 
          %figure.image= image_tag @page.image.url      

