
%h3.subtitle= link_to crumble.title, crumble
.date
  = 'posted ' + time_ago_in_words(crumble.created_at) + ' ago; '
  - unless crumble.datestamp.blank?
    =  "from " + crumble.datestamp.strftime('%d %B %Y')
.post_body.post
  - if crumble.icon?
    %figure.image= image_tag crumble.icon.url(:main).gsub(/development/, 'production')
  - if crumble.category == 1
    %figure.image= image_tag(crumble.attachment.main.url)
    = link_to '[full size]', crumble.attachment.url
    %br/
    
  - if crumble.category == 2
    .videocontent
      %audio{src: crumble.attachment.url, style: 'width: 100%'} 
      -#, crumble.attachment.url, :class => :sm2_button, :rel => :nofollow
    = content_for :jquery do
      :plain
        $('video,audio').mediaelementplayer({defaultVideoWidth: "90%"});
  %br    

    

  .content.post_body
    = raw(Nokogiri::HTML.parse(crumble.body.gsub(/\<span\>/, '<p>').gsub(/\<\/span\>/, '</p>')).css('p').first.text) rescue raw(truncate_html(crumble.body, :length => 1500))
  = link_to 'Read more', crumble, :class => [:button, :tiny]


      


- if user_signed_in?
  = link_to 'edit this crumble', edit_crumble_path(crumble)
  %br
  = link_to 'delete this crumble', crumble, :confirm => 'Are you sure?', :method => :delete 
%br{:clear => 'all'}