- meta :title =>  @crumble.title + " | Icewhistle", :description => truncate(strip_tags(@crumble.description), :length => 250)
.post
  .row
    .columns.text-left
      %h1= @crumble.title
      %em
        %medium= "posted: " + l(@crumble.created_at, :format => :long   )
        %medium= "; from: " + @crumble.datestamp.strftime('%d %B %Y')
        

  .row
    .small-7.columns
      = image_tag @crumble.icon.url(:main)
      - if @crumble.category == 1
        = image_tag(@crumble.attachment.main.url)
        %br/
        = link_to '[full size]', @crumble.attachment.url
        %br/
      - if @crumble.category == 2
        %div= link_to @crumble.attachment.url, @crumble.attachment.url, :class => :sm2_button

      - if @crumble.attachment.file.file =~ /pdf$/i
        %br/
        = link_to '[download PDF]', @crumble.attachment.url
        %br/     
      .post_body= raw @crumble.try(:description)         
    .small-5.columns.sidebar= render :partial => 'crumble_sidebar'


      

