<h1>New schools</h1>


<%= form_for([:admin, @school]) do |f| %>
  <p>
    <b>Date started</b><br />
    <%= f.text_field :started %>
  </p>
  <p>
    <b>Date finished</b><br />
    <%= f.text_field :finished %>
  </p>
  <p>
    <b>School</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Degree</b><br />
    <%= f.text_field :degree %>
  </p>
  <p>
    <b>Subject	</b><br />
    <%= f.text_field :subject %>
  </p>



  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>


<%= link_to 'Back', admin_schools_path %>
