<p>
  <b>Name:</b>
  <%=h @school.name %>
</p>

<p>
  <b>Degree:</b>
  <%=h @school.degree %>
</p>

<p>
  <b>Dates:</b>
  <%=h @school.started %>-<%=h @school.finished %>
</p>


<%= link_to 'Edit', edit_admin_school_path(@school) %> |
<%= link_to 'Back', admin_schools_path %>
