= semantic_nested_form_for [:admin, @post], :html => {:multipart => true} do |f|
  .row
    .small-6.columns= f.input :title
  .row
    .small-11.columns= f.input :body, :input_html => {:class => :ckeditor}
  - unless @post.extended.blank?
    .row
      .small-6.columns= f.input :extended, :input_html => {:class => :ckeditor}
  .row
    .small-8.columns= f.input :tag_list, input_html: {value: f.object.tag_list.blank? ? '' : f.object.tags.join(',')}
  
  .row
    .small-7.columns
      - unless f.object.image.blank?
        = image_tag f.object.image.url(:wide)
      = f.input :image
  .row
    = f.fields_for :photos do |ff|

      - unless ff.object.filename.blank?
        = image_tag ff.object.filename.url(:midsize)
      = ff.input :filename
      = ff.link_to_remove 'Remove this'
  
    = f.link_to_add 'add one or more images', :photos
  .row
    = f.fields_for :videos do |ff|
      - unless ff.object.blank?
        = image_tag ff.object.url
        = ff.input :url
  
    = f.link_to_add 'add one or more videos', :videos
          
  .row
    .small-6.columns= f.input :published
      
  .row
    .small-6.columns= f.submit 'Save', class: [:small, :round, :button] 