
- unless activity.image.url.blank?
  .activity_image
    = image_tag activity.image.url(:midsize)

  .activity_info
    %h6.subheading= activity.title.gsub(/^Post:\s+/, '')
    .project_name= activity.source.humanize
    %medium= activity.created_at.strftime('%d %b %Y')
- else
  .activity_info_noimg
    %h6.subheading= activity.title.gsub(/^Post:\s+/, '')
    .project_name= activity.source.humanize
    %medium= activity.created_at.strftime('%d %b %Y')