
.row{:"data-magellan-destination" => "top#{post.id.to_s}"}
- if post.image?
  - if post.image_width > 1200
    = image_tag post.image.url
  - else
    .row    
      .small-10.medium-9.large-7.columns.small-centered.post_with_topspace= image_tag post.image.url
- elsif !post.photos.empty?
  %ul{:"data-orbit" => ""}
    - post.photos.each do |p|
      %li
        = image_tag p.filename.url
.row    
  .small-10.medium-.large-7.columns.small-centered.post_content
    %h2.subheader= link_to raw(post.title), post
    %medium.date
      %em= "posted " +  l(post.updated_at, :format => :long)
    .post_body.text-justify.readmore
      - unless post.audiopodcasts.empty?
        - post.audiopodcasts.each do |podcast|
          .audiocontent
            %audio{src: podcast.url, style: "width: 100%; height: 100%", width: "100%", height: "100%"}
      = raw post.body      
      - if post.extended
        = link_to 'Read more', post, :class => [:button, :tiny]
- if post.videos.empty?
  = content_for :jquery do
    :plain
      $('.readmore').readmore({
        speed: 75,
        moreLink: '<a style="margin-top: 10px" class="button tiny" href="#">Read more</a>',
        lessLink: '<a class="button tiny" href="#">Close</a>',
        maxHeight: 600
        });
- else
  .row
    .small-12.columns
      - post.videos.each do |video|
        .videocontent
          %video{src: video.url, controls: "true", style: "width: 100%; height: 100%", height: "100%", width: "100%"}
- unless post.videos.empty? && post.audiopodcasts.empty?
  = content_for :jquery do
    :plain
      if ((navigator.platform.indexOf("iPhone") == -1) && (navigator.platform.indexOf("iPad") == -1)) {
        $('video,audio').mediaelementplayer({defaultVideoWidth: "100%"});        
      }
/
/ - if post.photos.empty?
/   .row
/     .small-2.columns &nbsp;
/     .small-8.columns.text-justify
/       = raw post.body
/       - if post.extended
/         = link_to 'Read more', post, :class => [:button, :tiny]
/     .small-2.columns &nbsp;
/
/ - elsif post.image?
/   = image_tag post.image.url(:wide)
/   .row
/     .small-6.columns
/
/       .row
/         .small-12.columns.text-justify
/
/ -else
/   .row
/     .small-6.columns.text-center
/       - if post.photos.size == 1
/         = image_tag post.photos.first.filename.url(:main)
/       - elsif post.photos.size > 1

/     .small-6.columns
/
/       .row
/         .small-12.columns.text-justify.readmore
/           = raw post.body
/           -#%p= raw Nokogiri::HTML.parse(post.body).css('p').first.text
/           - if post.extended
/             = link_to 'Read more', post, :class => [:button, :tiny]





