

- if post.image? && post.photos.empty?
  %figure.image= image_tag post.image.url(:main).gsub('development', 'production')
- elsif !post.photos.empty?
  %figure.image
    - if post.photos.size == 1
      = image_tag post.photos.first.filename.url(:main)
    - elsif post.photos.size > 1
      .carousel
        - post.photos.each do |p|
          %div= image_tag p.filename.url(:main).gsub('development', 'production')

      = content_for :jquery do
        :plain
          $('.carousel').slick();

%h2.subtitle.is-size-4= link_to raw(post.title), post
%medium.date
  %em= "posted " +  l(post.updated_at, :format => :long)
    
.content
  %p
    - if Nokogiri::HTML.parse(post.body).css('p').empty?
      = raw truncate_html(post.body, length: 250)
    - else
      -# = raw truncate_html(Nokogiri::HTML.parse(post.body).css('p').first.text, length: 450)
      -# = raw truncate_html(Nokogiri::HTML.parse(post.body).css('p').to_s, length: 450)
      = raw truncate_html(Sanitize.fragment(post.body, elements: ['b', 'small', 'em', 'strong', 'a', 'p', 'br', 'i', 'italic']), length: 600)
  = link_to 'Read more', post, :class => [:button, :tiny]
  
