-# %nav#anchors.bd-anchors.is-active.is-fixed-top
-#   %p Nav:
-#   %ul.bd-anchors-list
-#     %li= link_to @posts.first.title, "#top#{@posts.first.id.to_s}"
-#     %li= link_to 'Recent posts', "#recent_posts"
-#     %li= link_to 'Blindness', '#blindness_container'
-#     %li= link_to 'Less recent posts', '#less_recent'
-#     %li= link_to 'Recently read', '#bookmarks_front'



%section.hero{id: "top#{@posts.first.id.to_s}"}
  = render :partial => 'full_width_post', :locals => {:post => @posts.first }
    
%section#acedia= render :partial => 'acedia'




%section#recent_posts
  .container
    %h3.section_heading Previous posts...
    .columns.is-4.is-variable
      - @posts[1..2].each do |post|
        .column= render :partial => 'image_top_post', :locals => {:post => post}

%section#tweet_front= render :partial => 'tweet'




%section#less_recent.row
  .container
    %h3.section_heading Even older posts...
    .columns
      - @posts[3..5].each do |post|
        .column= render :partial => 'title_top_post', :locals => {:post => post}
  .container
    .columns
      .column
        %h6.subtitle= link_to 'Older posts', posts_path(:page => 2), class: [:button, :tiny]

- Cash.visible.where(:source => "blindness").where("image_width > 760").order(order: :desc).limit(1).each do |bp|
  %section#blindness_container
    .blindness_wrapper= render :partial => 'blindness_image', :locals => {:post => bp}
%section#bookmarks_front{:style => 'background-color: #F2F27C'}= render :partial => 'bookmark', :locals => {:link => Cash.where(:source => 'bookmarks').order('created_at DESC').limit(25) }

%section#disclaimer
  .container
    %p.is-size-6
      Icewhistle.com is the website of John W. Fail since 2007. 
    %p
      %em Contact via email link on site footer.


