-# .post_container
-#   .post
-#     %h3 Next appearance: 
-#     There are no future SI shows currently scheduled at this time. If you'd like to hire Serious Introspection for your wedding, party, bar mitzvah, corporate event or other occasion, please contact us via 
-#     = link_to 'SI Services.', 'http://services.seriousintrospection.fi/' 

-#     %br/
   
    
.post_container
  - @posts.each do |post|
    .post
      .row
        %h3= link_to post.title, post
        .date
          %em= "posted " + post.created_at.strftime("%d %B %Y")
      - if post.videos.empty?
        - if post.image?
          = image_tag post.image.url.gsub('development', 'production')
      - else
        - post.videos.each do |video|
          = link_to '#' do
            .videocontent[video]{rel: video.url}
              - if post.image.blank?  
                .play_wrapper{style: "background: url(https://icewhistle-content.s3.amazonaws.com/production/images/post/image/568/12719603_500163816842666_8245993295491988405_o.jpg) no-repeat center center; background-size: cover;"}
                  .play &nbsp;
              - else

                .play_wrapper{style: "background: url(#{post.image.url.gsub('development', 'production')}) no-repeat center center;  background-size: cover;"}
                  .play &nbsp;
              -# %video{src: video.url, controls: "true",  style: "width: 100%; height: 100%", height: "100%", width: "100%"}
          %br{clear: :all}
      - unless post.audiopodcasts.empty?
        - post.audiopodcasts.each do |podcast|
          .audiocontent
            %audio{src: podcast.url, style: "width: 100%; height: 100%", width: "100%", height: "100%"}
              
      .row
        .text-justify.readmore.post_description
          = raw post.body

= content_for :jquery do
  :plain
    $('a .videocontent').click(function () {
      $(this).children('.play').css('background-image', 'url(/assets/siloader.gif)');
      $(this).html('<video autoplay controls="true" style="width: 100%; height: 100%" height="100%" width: "100%" src="' + $(this).attr('rel') + '"></video>');
      return false;
    });