.post_container
  .post
    %h3 Next appearance: 
    = link_to 'Wednesday, 23 March at 21:00', 'https://www.facebook.com/events/1039698359436758/'
    %br/
    S02E05 with 110%, Marek Pluciennik, and someone named Mirva / 
    Ihana Baari, Suvilahti / free admission
    
.post_container
  - @posts.each do |post|
    .post
      .row
        %h3= link_to post.title, post
        %h6= "posted " + post.created_at.strftime("%d %B %Y")
      - if post.videos.empty?
        - if post.image?
          = image_tag post.image.url.gsub('development', 'production')
      - else
        - post.videos.each do |video|
          = link_to '#' do
            .videocontent[video]{rel: video.url}
              = image_tag post.image.url.gsub('development', 'production')
              .play &nbsp;
              -# %video{src: video.url, controls: "true",  style: "width: 100%; height: 100%", height: "100%", width: "100%"}
      - unless post.audiopodcasts.empty?
        - post.audiopodcasts.each do |podcast|
          .audiocontent
            %audio{src: podcast.url, style: "width: 100%; height: 100%", width: "100%", height: "100%"}
              
      .row
        .text-justify.readmore.post_description
          = raw post.body

= content_for :jquery do
  :plain
    $('a .videocontent').click(function () {
      $(this).children('.play').css('background-image', 'url(/assets/siloader.gif)');
      $(this).html('<video autoplay controls="true" style="width: 100%; height: 100%" height="100%" width: "100%" src="' + $(this).attr('rel') + '"></video>');
      return false;
    });