= semantic_form_for @post, :html => {:multipart => true } do |f|
  .row 
    .small.6.columns= f.input :title
  .row
    .small-12.columns= f.input :body, :input_html => {:class => 'ckeditor' }
  .row 
    .small-12.columns= f.input :extended, :input_html => {:class => 'ckeditor' }
  .row
    .small-5.columns= f.input :image
  .row
    .small-5.columns= f.input :tag_list
  .row
    = f.fields_for :photos do |ff|
      - unless ff.object.filename.blank?
        = image_tag ff.object.filename.url(:midsize)
        = ff.input :filename
  
      = f.link_to_add 'add one or more images', :photos

      .row
        .small-6.columns= f.submit    
    