= semantic_form_for post, :html => {:multipart => true } do |f|
  .row 
    .small.6.columns= f.input :title
  .row
    .small-12.columns= f.input :body, :input_html => {:clasS => 'rich_text_editor' }
  .row 
    .small-12.columns= f.input :extended, :input_html => {:clasS => 'rich_text_editor' }
  .row
    .small-5.columns= f.input :image
    
    