.post.container
  
  .columns.all_posts
    .column
      %h1.title News/posts
    .column
      = form_tag(search_index_path, :method => :get) do
        = text_field_tag("search", params[:search].blank? ? 'Search...' : params[:search], :size => 10, class: :input)
  - if @tag == 'podcast' || @tag == 'video'
    .level.si_podcasts
      .level-left
        .level-item
          %h1.title= @tag.pluralize
    .columns.si_podcasts
      .column
        - if @tag == 'podcast'
          %p Serious Introspection is no longer a live talk show, but an occasional audio podcast. You can subscribe to the podcast feed or check out individual episodes here.
        - if @tag == 'video'
          %p Video episodes of the Serious Introspection live show are archived here.
  
  - @posts.in_groups_of(3).each do |group|
    .columns.index
      - group.each do |post|
        - next if post.nil?
        .column.is-one-third= render :partial => 'posts/post_excerpt', :locals => {:post => post}
      
  .columns
    = paginate @posts
  .is-clearfix
  
  = content_for :jquery do
    :plain
      $("input#search").clearField();