- if @post.image?
  - if @post.image_width > 1200
    = image_tag @post.image.url
  - else 
    .row
      .small-12.columns.text-left.post_body
        = image_tag @post.image.url
.post

  .row
    .columns.text-left
      %h1= raw @post.title
      .metadata
        %em
          %medium= "posted: " + l(@post.updated_at, :format => :long   )

  - if @post.photos.empty? 
  
    .row
      .small-7.columns.text-left.post_body
        = raw @post.body
        - if @post.extended?
          %br/
          = raw @post.extended
        - unless @post.videos.empty?
          - @post.videos.each do |video|
            .videocontent
              %video{src: video.url, style: "width: 100%; height: 100%", width: "100%", height: "100%"}

          = content_for :jquery do
            :plain
              $('video,audio').mediaelementplayer({defaultVideoWidth: "100%"});   
          
      .small-4.small-offset-1.columns.sidebar= render :partial => 'post_sidebar'
        

  - elsif @post.image?
    .row
      .large-12.columns.text-center
        = image_tag @post.image.url(:main)

    .row
      .small-7.columns.text-left.post_body
        = raw @post.body      
        - if @post.extended?
          %br/
          = raw @post.extended
        - unless @post.videos.empty?
          - @post.videos.each do |video|
            .videocontent
              %video{src: video.url, style: "width: 100%; height: 100%", width: "100%", height: "100%"}

          = content_for :jquery do
            :plain
              $('video,audio').mediaelementplayer({defaultVideoWidth: "100%"});   
                        
      .small-4.small-offset-1.columns.sidebar= render :partial => 'post_sidebar'
  -else
    .row
      .large-12.columns.text-left
        - if @post.photos.size == 1
          - if @post.photos.first.filename_width < 1200
            = image_tag @post.photos.first.filename.url
          - else
            = image_tag @post.photos.first.filename.url(:main)
        - elsif @post.photos.size > 1
          %ul{:"data-orbit" => ""}
            - @post.photos.each do |p|
              %li
                - if p.filename_width < 1200
                  = image_tag p.filename.url
                - else
                  = image_tag p.filename.url(:main)  

    .row{:"data-equalizer" => ""}
      .small-7.columns.text-left.post_body{:"data-equalizer-watch" => ""}
        = raw @post.body
        - if @post.extended?
          %br/
          = raw @post.extended
        - unless @post.videos.empty?
          - @post.videos.each do |video|
            .videocontent
              %video{src: video.url, style: "width: 100%; height: 100%", width: "100%", height: "100%"}

          = content_for :jquery do
            :plain
              $('video,audio').mediaelementplayer({defaultVideoWidth: "100%"});   
              
      .small-4.small-offset-1.columns.sidebar{:"data-equalizer-watch" => ""}= render :partial => 'post_sidebar'

  .row.prev_next
    .small-5.columns
      - unless @post.previous_post.nil?
        %h6 Previous post:
        .link
          = link_to @post.previous_post.title, @post.previous_post
          .date= @post.previous_post.created_at.strftime('%d %B %Y')
        
    .small-5.columns.small-offset-2.text-right
      - unless @post.next_post.nil?
        %h6 Next post:
        .link
          = link_to @post.next_post.title, @post.next_post
          .date= @post.next_post.created_at.strftime('%d %B %Y')
  %br{:clear => 'all'}
    
