.contact_form.container.post
  .columns
    .column.is-half.is-offset-3
      %h2.title Contact John W. Fail
  .columns
    .column.is-half.is-offset-3
      = form_for @message, :url => contact_path, :html => {:"data-abide" => ""} do |form|
        #input
          .field
            %label.label Your name:
            %small.error You must enter your name.
            .control
              = form.text_field :name,  :required => "", class: :input
          .field
            %label.label Your email address:
            %small.error A valid email address is required.
            .control
              = form.text_field :email,  :required => "", class: :input
          .field
            %label.label Subject:
            %small.error You must enter a subject.
            .control
              = form.text_field :subject,   :required => "", class: :input
          .field
            %label.label Your message:
            .control= form.text_area :body,  {:class => 'textarea', :size => "50x30"}
          .field
            %label.label Are you human?
            - if @message.errors.messages[:base]
              %small.error{:style => "display: block"}= @message.errors.messages[:base].join('; ')
            = recaptcha_tags(:display => {:theme => 'clean', :tabindex => 10})
          .field
            .control
              %button.button.is-link Send
    = content_for :jquery do
      :plain
      