!!!
%html{:lang => "en"}
  %head
  
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    -# %title= content_for?(:title) ? yield(:title) : "Icewhistle"
    = metamagic
    %link{:href => 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&subset=latin-ext', :rel => 'stylesheet', :type => 'text/css'}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr" 
    = csrf_meta_tags 
    :javascript
      var switchTo5x=true;
    %script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}
    :javascript
      stLight.options({publisher: "fec021ac-bd8c-4517-b7db-cd4a0d0ad212", doNotHash: false, doNotCopy: false, hashAddressBar: false});
      
  %body
    = javascript_include_tag "application"
    .new_header.fixed.contain-to-grid
      %nav.top-bar{:"data-topbar" => ""}
        %ul.title-area
          %li.name
            %h1= link_to image_tag('logo_small.png'), '/'
          %li.toggle-topbar.menu-icon= link_to 'Menu', '#'
        %section.top-bar-section
          %ul.right
            - if current_user
              %li.has-dropdown
                = link_to 'CMS', '#'
                %ul.dropdown
                  %li= link_to 'Posts', admin_posts_path
                  %li= link_to 'Crumbles', admin_crumbles_path
                  %li= link_to 'CV', admin_projects_path
                  %li= link_to 'Sign out', '/logout'
            %li.active.has-dropdown
              = link_to 'Who?', '#'
              %ul.dropdown
                %li= link_to 'CV', '/cv'
                %li= link_to 'Discography', 'http://static.icewhistle.com/discog/'
                %li= link_to 'Contact', '/contact'
            %li.has-dropdown
              = link_to 'Projects', '#'
              %ul.dropdown
                %li= link_to 'Ptarmigan', 'http://ptarmigan.ee/'
                %li= link_to 'Pixelache', 'http://pixelache.ac/'
                %li= link_to 'Lied Music', 'http://liedmusic.co.uk/'
                %li= link_to 'Cenotaph', 'http://cenotaph.org/'
                %li= link_to 'Slothrop\'s', 'http://slothrops.ee/'
              
            %li.has-dropdown
              = link_to 'Archive', '#'
              %ul.dropdown
                %li= link_to 'All posts', posts_path
                %li= link_to 'Blindness', 'http://blindness.icewhistle.com/'
                %li= link_to 'Crumbles', crumbles_path
                %li= link_to 'Bookmarks', 'http://icewhistle.postach.io'
            %li.scale.optional= link_to image_tag( 'icewhistle_combined.png'), '/'

            
            
            
    %main
      - if flash[:error] || flash[:notice] || flash[:alert]
        #flash
          .row
            .small-12.columns
              - if flash[:error]
                .error= raw flash[:error]
              - if flash[:notice]
                .error= raw flash[:notice]
              - if flash[:alert]
                .error= raw flash[:alert]              
      .footer-shadow= yield
    %footer#main_footer
      .row
        .small-3.columns
          = link_to image_tag('jape.png'), 'javascript:$("html, body").animate({ scrollTop: 0 }, "slow");'
          = link_to image_tag('johnfailicewhistle.jpg'), 'javascript:$("html, body").animate({ scrollTop: 0 }, "fast");'
        .small-3.columns
          %ul
            %li= link_to 'All posts', posts_path
            %li= link_to 'Blindness', 'http://blindness.icewhistle.com'
            %li= link_to 'Archival/crumbles', crumbles_path
            %li= link_to 'John W. Fail CV', '/cv'
            %li= link_to 'Discography', 'http://static.icewhistle.com/discog/'
        .small-3.columns
          %ul
            %li= link_to 'Ptarmigan Tallinn', 'http://ptarmigan.ee', :target => :_blank
            %li= link_to 'Ptarmigan Helsinki', 'http://ptarmigan.fi', :target => :_blank
            %li= link_to 'Pixelache', 'http://pixelache.ac', :target => :_blank
            %li= link_to 'Project Blood Team', 'http://bloodteam.com', :target => :_blank
            %li= link_to 'Cenotaph', 'http://cenotaph.org', :target => :_blank
            %li= link_to 'Lied Music', 'http://liedmusic.co.uk', :target => :_blank
        .small-3.columns
          %ul
            %li= link_to 'Twitter', 'http://twitter.com/hyksos', :target => :_blank
            %li= link_to 'RSS', 'http://feeds.feedburner.com/IcewhistleAll/'
            %li= link_to 'GitHub', 'http://github.com/cenotaph', :target => :_blank
            %li
              %a{:href =>"#",  :"data-dropdown"=> "other_projects",  :class => "dropdown tiny"} Other projects
              %ul#other_projects.f-dropdown{:"data-dropdown-content" => ""}
                %li= link_to 'Tiib', 'http://tiib.net', :target => :_blank
                %li= link_to 'Triple Canopy', 'http://canopycanopycanopy.com/', :target => :_blank
                %li= link_to 'Supermarket Art Fair', 'http://supermarketartfair.com', :target => :_blank
                %li= link_to 'Version', 'http://version.com', :target => :_blank
            %li= link_to 'Email', ' john (@) ptarmigan (piste) (two-letter-country-code, either one that has a ptarmigan)'
    :javascript
      $(document).ready(function() {
        #{yield :jquery}
      });
