!!!
%html{:lang => "en"}
  %head
  
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    -# %title= content_for?(:title) ? yield(:title) : "Icewhistle"
    = display_meta_tags :site => 'Icewhistle' 
    %link{:href => "/favicons/apple-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}/
    %link{:href => "/favicons/apple-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}/
    %link{:href => "/favicons/apple-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "/favicons/apple-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => "/favicons/apple-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %link{:href => "/favicons/apple-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => "/favicons/apple-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}/
    %link{:href => "/favicons/apple-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}/
    %link{:href => "/favicons/apple-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "/favicons/android-icon-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}/
    %link{:href => "/favicons/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "/favicons/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}/
    %link{:href => "/favicons/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "/favicons/manifest.json", :rel => "manifest"}/
    %meta{:content => "#ffffff", :name => "msapplication-TileColor"}/
    %meta{:content => "/ms-icon-144x144.png", :name => "msapplication-TileImage"}/
    %meta{:content => "#ffffff", :name => "theme-color"}/
    
    %link{:href => 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&subset=latin-ext', :rel => 'stylesheet', :type => 'text/css'}
    = stylesheet_link_tag "application"
    %link{:href => "//cdn-images.mailchimp.com/embedcode/classic-081711.css", :rel => "stylesheet", :type => "text/css"}/
    = javascript_include_tag "application"
    = csrf_meta_tags
    - unless user_signed_in?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-8528342-1', 'auto');
        ga('send', 'pageview');

      
  %body{:class => controller.controller_name}
    %header
      %div{:"data-sticky-container" => '', style: 'z-index: 99;'}
        .top-bar{:"data-margin-top" => 0, :"data-sticky" => '', style: 'width: 100%'}
          .top-bar-title
            %span{"data-hide-for" => "medium", "data-responsive-toggle" => "responsive-menu"}
              %button.menu-icon.dark{"data-toggle" => "", :type => "button"}
            %h1
              = link_to image_tag('icewhistle_combined.png'), '/'
              = link_to image_tag('logo_small.png'), '/'
          #responsive-menu 
            .top-bar-left
              %ul.dropdown.menu{:"data-dropdown-menu" => ''}
                - if current_user
                  %li
                    = link_to 'CMS', '#'
                    %ul.menu.vertical
                      %li= link_to 'Posts', admin_posts_path
                      %li= link_to 'Archives', admin_crumbles_path
                      %li= link_to 'CV', admin_projects_path
                      %li= link_to 'Sign out', '/logout'
                %li
                  = link_to 'Who?', '#'
                  %ul.menu.vertical
                    %li= link_to 'CV', '/cv'
                    %li= link_to 'Discography', 'http://static.icewhistle.com/discog/'
                    %li= link_to 'Contact', '/contact'
                %li
                  = link_to 'Projects', '#'
                  %ul.menu.vertical
                    %li= link_to 'Temporary', 'https://temporary.fi/'
                    %li= link_to 'Pixelache', 'http://pixelache.ac/'
                    %li= link_to 'Ptarmigan', 'http://ptarmigan.ee/'
                
                    -# %li= link_to 'Lied Music', 'http://liedmusic.co.uk/'
                    %li= link_to 'Cenotaph', 'http://cenotaph.org/'
                    -#%li= link_to 'Slothrop\'s', 'http://slothrops.ee/'
          
                %li
                  = link_to 'Archive', '#'
                  %ul.menu.vertical
                    %li= link_to 'All posts', posts_path
                    %li= link_to 'Blindness', 'http://blindness.icewhistle.com/'
                    %li= link_to 'Archives', crumbles_path
                    %li= link_to 'Bookmarks', 'https://www.evernote.com/pub/johnwfail/bookmarks'

            
            
            
    %main
      - if flash[:error] || flash[:notice] || flash[:alert]
        #flash
          .row
            .small-12.columns
              - if flash[:error]
                .error= raw flash[:error]
              - if flash[:notice]
                .error= raw flash[:notice]
              - if flash[:alert]
                .error= raw flash[:alert]              
      .footer-shadow{class: controller.controller_name }
        = yield
    %footer#main_footer
      .row
        .small-3.columns
          = link_to image_tag('jape.png'), 'javascript:$("html, body").animate({ scrollTop: 0 }, "slow");'
          = link_to image_tag('johnfailicewhistle.jpg'), 'javascript:$("html, body").animate({ scrollTop: 0 }, "fast");'
        .small-3.columns
          %ul
            %li= link_to 'All posts', posts_path
            %li= link_to 'Blindness', 'http://blindness.icewhistle.com'
            %li= link_to 'Archival material', crumbles_path
            %li= link_to 'John W. Fail CV', '/cv'
            %li= link_to 'Discography', 'http://static.icewhistle.com/discog/'
        .small-3.columns
          %ul
            %li= link_to 'Temporary', 'https://temporary.fi', target: :_blank
            %li= link_to 'Pixelache', 'http://pixelache.ac', :target => :_blank
            %li= link_to 'Ptarmigan', 'http://ptarmigan.ee', :target => :_blank

            %li= link_to 'Project Blood Team', 'http://bloodteam.com', :target => :_blank
            %li= link_to 'Cenotaph', 'http://cenotaph.org', :target => :_blank
            -#%li= link_to 'Lied Music', 'http://liedmusic.co.uk', :target => :_blank
        .small-3.columns
          %ul
            %li= link_to 'Twitter', 'http://twitter.com/hyksos', :target => :_blank
            %li= link_to 'RSS', 'http://feeds.feedburner.com/IcewhistleAll/'
            %li= link_to 'GitHub', 'http://github.com/cenotaph', :target => :_blank
            %li
              -#%a{:href =>"#",  :"data-dropdown"=> "other_projects",  :class => "dropdown tiny"} Other projects
              -#%ul#other_projects.f-dropdown{:"data-dropdown-content" => ""}
              / %li= link_to 'Tiib', 'http://tiib.net', :target => :_blank
              / %li= link_to 'Triple Canopy', 'http://canopycanopycanopy.com/', :target => :_blank
              / %li= link_to 'Supermarket Art Fair', 'http://supermarketartfair.com', :target => :_blank
              / %li= link_to 'Version', 'http://version.com', :target => :_blank
            %li= link_to 'Email', ' john (@) ptarmigan (piste) (two-letter-country-code, either one that has a ptarmigan)'
    :javascript
      $(document).ready(function() {
        #{yield :jquery}
      });
