!!!
%html.has-navbar-fixed-top{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    -# %title= content_for?(:title) ? yield(:title) : "Icewhistle"
    = display_meta_tags :site => 'Icewhistle' 
    %link{:href => "/favicons/apple-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}/
    %link{:href => "/favicons/apple-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}/
    %link{:href => "/favicons/apple-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "/favicons/apple-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => "/favicons/apple-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %link{:href => "/favicons/apple-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => "/favicons/apple-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}/
    %link{:href => "/favicons/apple-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}/
    %link{:href => "/favicons/apple-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "/favicons/android-icon-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}/
    %link{:href => "/favicons/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "/favicons/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}/
    %link{:href => "/favicons/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "/favicons/manifest.json", :rel => "manifest"}/
    %meta{:content => "#ffffff", :name => "msapplication-TileColor"}/
    %meta{:content => "/ms-icon-144x144.png", :name => "msapplication-TileImage"}/
    %meta{:content => "#ffffff", :name => "theme-color"}/
    - if controller.controller_name == 'posts' || controller.controller_name == 'frontpage'
      %script{:src => "https://cdn.jsdelivr.net/npm/hls.js@latest"}
    %link{:href => 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&subset=latin-ext', :rel => 'stylesheet', :type => 'text/css'}

    %link{:href => "//cdn-images.mailchimp.com/embedcode/classic-10_7.css", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag

  %body{:class => controller.controller_name}
    %nav.navbar.is-fixed-top{role: :navigation, :'aria-label' => 'main navigation'}
      .navbar-brand
        %a.navbar-item{href: '/'}
          = image_tag('icewhistle_combined.png')
          = image_tag('logo_small.png', width: 220)
        %a.navbar-burger.burger{:'aria-label' => :menu, :'aria-expanded' => false, :'data-target' => :navbarBasic, role: :button}
          %span{:'aria-hidden' => true}
          %span{:'aria-hidden' => true}
          %span{:'aria-hidden' => true}
      #navbarBasic.navbar-menu
        .navbar-end
          .navbar-item.has-dropdown.is-hoverable
            %a.navbar-link Who?
            .navbar-dropdown
              = link_to 'About', page_path('about-me'), class: 'navbar-item'
              = link_to 'CV', '/cv', class: 'navbar-item'
              = link_to 'Discography', 'http://static.icewhistle.com/discog/', class: 'navbar-item'
              = link_to 'Contact', '/contact', class: 'navbar-item'
          .navbar-item.has-dropdown.is-hoverable
            %a.navbar-link Work and projects
            .navbar-dropdown
              = link_to 'Scarlatti Tilt', 'https://scarlattitilt.com', class: 'navbar-item'
              .navbar-item
                = link_to 'Kuusi Palaa', 'https://kuusipalaa.fi'
                = " / "
                = link_to 'Temporary', 'https://temporary.fi'
              = link_to 'Serious Introspection', 'https://seriousintrospection.fi', class: 'navbar-item'
              = link_to 'Pixelache Living Spaces', 'http://livingspaces.pixelache.ac/', class: 'navbar-item'
              .navbar-item
                Ptarmigan:&nbsp;
                = link_to(' Helsinki', 'https://ptarmigan.fi/')
                = " / "
                = link_to(' Tallinn', 'https://ptarmigan.ee')
              = link_to 'Cenotaph', 'https://cenotaph.org/', class: 'navbar-item'
          .navbar-item.has-dropdown.is-hoverable
            %a.navbar-link Archives
            .navbar-dropdown
              = link_to 'All posts', posts_path, class: 'navbar-item'
              = link_to 'Blindness blog', 'https://blindness.icewhistle.com/', class: 'navbar-item'
              = link_to 'Archives', crumbles_path, class: 'navbar-item'
              = link_to 'Bookmarks', 'https://www.evernote.com/pub/johnwfail/bookmarks', class: 'navbar-item'
                    
          - if current_user
            .navbar-item.has-dropdown.is-hoverable
              %a.navbar-link CMS
              .navbar-dropdown
                = link_to 'Posts', admin_posts_path, class: 'navbar-item'
                = link_to 'Archives', admin_crumbles_path, class: 'navbar-item'
                = link_to 'CV', admin_projects_path, class: 'navbar-item'
                = link_to 'Sign out', '/logout', method: :delete, class: 'navbar-item'
          
    %main
      - if flash[:error] || flash[:notice] || flash[:alert]
        - if flash[:error]
          %section.hero.is-danger
            .hero-body= raw flash[:error]
        - if flash[:notice]
          %section.hero.is-success
            .hero-body= raw flash[:notice]
        - if flash[:alert]
          %section.hero.is-warning
            .hero-body= raw flash[:alert]              

      = yield
    %footer.footer
      .container
        .columns
          .column.is-one-fifth
            = link_to image_tag('jape.png'), 'javascript:$("html, body").animate({ scrollTop: 0 }, "slow");'
            = link_to image_tag('johnfailicewhistle.jpg'), 'javascript:$("html, body").animate({ scrollTop: 0 }, "fast");'
          .column
            %ul
              %li= link_to 'All posts', posts_path
              %li= link_to 'Blindness blog', 'https://blindness.icewhistle.com'
              %li= link_to 'Archival material', crumbles_path
              %li
                John W. Fail:
                = link_to 'About', page_path('about-me')
                = " / "
                = link_to 'CV', '/cv'
              %li= link_to 'Discography', 'http://static.icewhistle.com/discog/'
          .column
            %ul
              %li= link_to 'Scarlatti Tilt', 'https://scarlattitilt.com', target: :_blank
              %li= link_to 'Kuusi Palaa', 'https://kuusipalaa.fi/', target: :_blank
              %li= link_to 'Temporary', 'https://temporary.fi', target: :_blank
              %li= link_to 'Living Spaces', 'http://livingspaces.pixelache.ac', :target => :_blank
              %li= link_to 'Ptarmigan', 'http://ptarmigan.ee', :target => :_blank


              %li= link_to 'Cenotaph', 'http://cenotaph.org', :target => :_blank
              -#%li= link_to 'Lied Music', 'http://liedmusic.co.uk', :target => :_blank
          .column
            %ul
              %li= link_to 'Twitter', 'http://twitter.com/hyksos', :target => :_blank
              %li= link_to 'RSS', '/feeds'
              %li= link_to 'GitHub', 'http://github.com/cenotaph', :target => :_blank
              %li
                -#%a{:href =>"#",  :"data-dropdown"=> "other_projects",  :class => "dropdown tiny"} Other projects
                -#%ul#other_projects.f-dropdown{:"data-dropdown-content" => ""}
                / %li= link_to 'Tiib', 'http://tiib.net', :target => :_blank
                / %li= link_to 'Triple Canopy', 'http://canopycanopycanopy.com/', :target => :_blank
                / %li= link_to 'Supermarket Art Fair', 'http://supermarketartfair.com', :target => :_blank
                / %li= link_to 'Version', 'http://version.com', :target => :_blank
              %li= link_to 'Contact', '/contact'
    :javascript
      $(document).ready(function() {
        $(".navbar-burger").click(function() {
          $(".navbar-burger").toggleClass("is-active")
          $(".navbar-menu").toggleClass("is-active")
        })
        #{yield :jquery}
      });
