!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = display_meta_tags :site => 'Serious Introspection' 
    %meta{:charset => "utf-8"}/

    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    /[if lte IE 8] <script src="assets/js/ie/html5shiv.js"></script>
    = stylesheet_link_tag    "seriousintrospection"
    = javascript_include_tag "seriousintrospection" 
    /[if lte IE 8] <link rel="stylesheet" href="assets/css/ie8.css" />
    /[if lte IE 9] <link rel="stylesheet" href="assets/css/ie9.css" />
    = csrf_meta_tags
    - unless user_signed_in?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-8528342-3', 'auto');
          ga('send', 'pageview');
  %body
    .container
      .columns
        .column.is-three-fifths.left_container
          .title_container
            %h1.si_title= link_to raw('SERIOUS&nbsp;INTROSPECTION'),'/'
          .is-clearfix
          .menu
            %ul.top_menu
              %li= link_to 'Services', 'https://services.seriousintrospection.fi', target: :_blank
              %li= link_to 'iTunes', 'https://itunes.apple.com/us/podcast/serious-introspection/id1057015274', target: :_blank
              %li= link_to 'SI on FB', 'https://www.facebook.com/seriousintrospectionwithjohnwfail/', target: :_blank
              %li= link_to '#SeriousIntrospection', 'https://twitter.com/search?f=tweets&vertical=default&q=%23SeriousIntrospection', target: :_blank
              %li.last= link_to 'Mad House', 'https://madhousehelsinki.fi', target: :_blank
            .is-clearfix
          = yield
        .column.right_container
          with John W. Fail was a live show in Helsinki, Finland from 2015-2016.
          = ['Each week, John along with hype man Justin Tyler Tate, interviewed people about their creative process and tried to deliver a direct, communicative experience about art and performance.', "The show took place at Mad House Helsinki's Ihana Baari, and was free to attend.", "You know, we did eight shows in the first season and it was pretty time-consuming, but we were excited to come back for more in 2016.", 'We tried our best to entertain.' ].shuffle.join(' ')
          We've made videos available from all episodes of the show here for you to watch.
          = ["The videos aren't always perfect and the audio even less so, but we hope you still enjoy them.", "We also will occasionally post audio podcasts when we get the time to go more in-depth with people, outside of the public show.", "The show is indefinitely on hiatus as Justin moved away and other projects took over."].shuffle.join(' ')
          But wait, there's more!
          =  raw ["We are still available to be booked for parties, wedding, bar mitzvahs and other events.", "The for-profit arm of Serious Introspection is called <a href='https://services.seriousintrospection.fi/' target='_blank'>SI Services</a> and we're up for anything, really!", "We will come to your event and offer our services for hosting, hyping and media specialisation (live tweeting) for a variable fee."].shuffle.join(' ')
          If you'd like to find out more about Serious Introspection, you can start by watching these episodes and seeing if it's your cup of tea.
          = raw ["We have a <a href='https://www.facebook.com/seriousintrospectionwithjohnwfail/' target='_blank'>Facebook page</a> which we use to post info about the upcoming shows and videos as they are released.", "We have made the show available as a podcast via <a href='https://itunes.apple.com/us/podcast/serious-introspection/id1057015274' target='_blank'>iTunes</a> and <a href='http://www.stitcher.com/podcast/serious-introspection' target='_blank'>Stitcher</a>.", "The hashtag <a href='https://twitter.com/search?f=tweets&vertical=default&q=%23SeriousIntrospection' target='_blank'>#SeriousIntrospection</a> contains the running stream of live tweets from our media specialist Ernest Truely (and anyone else who might contribute)."].shuffle.join(' ')
          So yeah, that's it, pretty much.
          = raw ["We're trying to keep this page simple, if for no other reason than our cup runneth over with websites already.", "We will announce future events and SI-related matters here so feel free to check back any time."].shuffle.join(' ')
      

    / Footer
    %footer.footer
      .container
        .columns
          .column.is-one-fifth
            %strong Serious Introspection 2015-2016: 
          .column
            %a.icon.fa-twitter{:href => "http://twitter.com/hyksos", target: :_blank}
              %span.label Twitter
          .column
            %a.icon.fa-facebook{:href => "https://www.facebook.com/seriousintrospectionwithjohnwfail/", target: :_blank}
              %span.label Facebook
          .column
            %a.icon.fa-github{:href => "http://github.com/cenotaph", target: :_blank}
              %span.label GitHub
          .column
            %a.icon.fa-envelope-o{:href => "/contact"}
              %span.label Contact
 
    :javascript
      $(document).ready(function() {
        #{yield :jquery}
        $('video,audio').mediaelementplayer({defaultVideoWidth: "100%", alwaysShowHours: true,  pauseOtherPlayers: true });  
        $('.readmore').readmore({
          speed: 75,
          moreLink: '<a style="margin-top: 10px" class="button tiny" href="#">Read more</a>',
          lessLink: '<a class="button tiny" href="#">Close</a>',
          maxHeight: 150
        });
      });