!!!
/
  Spectral by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = display_meta_tags :site => 'SI Services' 
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    /[if lte IE 8] <script src="assets/js/ie/html5shiv.js"></script>
    = stylesheet_link_tag    "services"
    = javascript_include_tag "services" 
    /[if lte IE 8] <link rel="stylesheet" href="assets/css/ie8.css" />
    /[if lte IE 9] <link rel="stylesheet" href="assets/css/ie9.css" />
    = csrf_meta_tags
    - unless user_signed_in?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-8528342-2', 'auto');
          ga('send', 'pageview');
  %body.landing
    / Page Wrapper
    #page-wrapper{style: @page.nil? ? (@message.nil? ? false : 'background-image: url("/assets/services/stein.jpg");') : 'background-image:  url("' + @page.image.url(:main) + '");'}
      / Header
      %header#header.alt
        %h1= link_to 'SI Services', '/'
        %nav#nav
          %ul
            %li.special
              %a.menuToggle{:href => "#menu"}
                %span Menu
              #menu
                %ul
                  %li= link_to 'Home', '/'
                  %li= link_to 'The host', page_path('the-host')
                  %li= link_to 'Hype man', page_path('hype-man')
                  %li= link_to 'Media specialist', page_path('media-specialist')
                  %li= link_to 'Pricing', page_path('pricing')
                  %li= link_to 'Contact', '/contact'
      = yield

      / Footer
      %footer#footer
        %ul.icons
          %li
            %a.icon.fa-twitter{:href => "http://twitter.com/hyksos"}
              %span.label Twitter
          %li
            %a.icon.fa-facebook{:href => "https://www.facebook.com/seriousintrospectionwithjohnwfail/"}
              %span.label Facebook
          %li
            %a.icon.fa-github{:href => "http://github.com/cenotaph"}
              %span.label GitHub
          %li
            %a.icon.fa-envelope-o{:href => "/contact"}
              %span.label Email
        %ul.copyright
          %li © Serious Introspection Services, an enterprise of John W. Fail t:mi.
          %li
            Y-tunnus: 2277894-8

